.field {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &__text {
    width: 23%;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
  }

  &__input {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 6px 12px;
    left: 235px;
    margin-right: 18px;
  }

  &__hint {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #999999;

  }

  &__label {
    margin-left: 10px
  }
}