* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 990px;
  margin: 87px auto;
  background-color: #FFFFFF;
}

.header {
  position: relative;
  width: 718px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;

  &__button {
    height: 22px;
    border: none;
    background: none;
    font-size: 12px;
    color: #0C77BB;
    border-bottom: 1px dashed #0C77BB;

    &:hover {
      color: red;
      cursor: pointer;
      border-bottom: 1px dashed red;
    }
  }

}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #666666;

  span {
    color: #000000;
  }
}

.status {
  background: #EAEAEA;
  position: absolute;
  width: 500px;
  top: 50px;
  left: 225px;
  padding: 18px 12px;
  transition: 0.3s ease all;

  &_active {
    background: #79b2d7;
    transition: 0.3s ease all;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #EAEAEA;
    transform: rotate(45deg);
    left: 15px;
    top: -5px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #404040;
  }

  &__input {
    background: #79b2d7;
    border: none;
    width: 100%;
    outline: none;
    padding: 10px;
    transition: 0.3s ease;
  }
}

.field-wrap {
  margin: 40px 0 40px 10px;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &__text {
    width: 23%;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
  }

  &__input {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 6px 12px;
    left: 235px;
    margin-right: 18px;
  }

  &__hint {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #999999;

  }

  &__label {
    margin-left: 10px
  }
}

.separator {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid #E5E4E4;
}

.save-changes {
  text-align: center;
  
  &__button {
    background-color: #71C838;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 17px;
    border: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 0px #539D22;

    &:hover {
      background: #539D22;
    }
  }

  &__text {
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
  }
}
